* {
    text-align: center;
}

header {
    padding: 10px
}

.view-scores {
    float: left;
}

.time {
    float: right;
}

.card {
    border: 1px solid lightgray;
    margin: 20px;
}

.card-body {
    margin: auto;
}