* {
    text-align: center;
}

header {
    padding: 10px
}

.view-scores {
    float: left;
}

.time {
    float: right;
}

.card {
    border: 1px solid lightgray;
    margin: 60px;
}

.card-body {
    margin: auto;
}

.start {
    color: black;
}

#img {
    background-size: 100% auto;
    opacity: 0.8;
}